@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  height: 100%;
}

body {
  background-color: #f9f9f9; /* Changed background color */
  height: 100%;
}

#EventsInnovate {
  color: #167f7a;
}

#EventsPrime {
  color: #c02c0c;
}

#EventsAlpha {
  color: #f49404;
}

#EventsHorizon {
  color: #00b3c4;
}

#GlobalSolutions {
  color: #9d8685;
}

.calendar {
  max-width: 80%;
  margin-left: 10%; /* Reduced left margin */
  margin-right: 10%; /* Reduced right margin */
  padding: 5%;
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  height: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow */
  border-radius: 10px; /* Added border radius */
}

.calendar header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 0.5em;
}

.calendar header .spacer {
  flex-grow: 1;
}

.calendar header button {
  height: 2.2em;
  padding: 0em 1em;
  border-radius: 110em;
  border: 1px solid #808080; 
  background: inherit;
  color: #000;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.calendar header button:hover {
  background-color: #d0d0d0;
}

.calendar header button:nth-of-type(2) {
  margin: 0 0.5em;
}

.calendar header #calendar-date {
  display: none;
}

.calendar header #calendar-title {
  font-size: 2rem;
  color: #333333;
}

.calendar .day-names {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 0.5em;
  background-color: #f2f2f2; 
}


.calendar .day-names li {
  width: 14.285714285714285%;
  text-align: left;
  text-transform: uppercase;
  color: #555555; 
}

.calendar .days {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;

}

.calendar .days li {
  width: 14.285714285714285%;
  position: relative;
  outline: 1px solid #dcdcdc; 
  height: 120px; 
}

.calendar .days li .content {
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.calendar .days li .content .day-number {
  color: #666666; 
}

.calendar .days li .content .post-item {
  background-color: #9d8685;
  color: white;
  padding: 0em 0.7em;
  margin: 1px 0;
  height: 1.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px; 
}

.calendar .days li .content .post-item i {
  margin-right: 0.25em;
  width: 1em;
  text-align: center;
  flex-shrink: 0;
  font-size: 0.5em;
}

.calendar .days li .content .post-item span {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  font-size: 1em;
}

.calendar .days li .content .channel-1 {
  background: #c02c0c;
}

.calendar .days li .content .channel-1:hover {
  background-color: #a12509;
}

.calendar .days li .content .channel-2 {
  background: #167f7a;
}

.calendar .days li .content .channel-2:hover {
  background-color: #136d6b;
}

.calendar .days li .content .channel-3 {
  background: #00b3c4;
}

.calendar .days li .content .channel-3:hover {
  background-color: #0098a6;
}

.calendar .days li .content .channel-4 {
  background: #f49404;
}

.calendar .days li .content .channel-4:hover {
  background-color: #c87a03;
}

.calendar .days li .content .channel-5 {
  background: #9d8685;
}

.calendar .days li .content .channel-5:hover {
  background-color: #7d6c6b;
}

.calendar .days li .content .more-btn {
  background: #e6e6e6;
  border: none;
  outline: none;
  height: 1.85em;
  border-radius: 92.5em;
  width: 100%;
  color: #4d4d4d;
  font-size: 0.75em;
}

.calendar .days li .cell-dragover {
  background: #e6e6e6;
}

.calendar .days li.inside-month {
  background-color: #fff;
}

.calendar .days li.outside-month {
  background-color: #f2f2f2; 
}

.calendar .days li.today {
  background: #e0f7ff;
}

.calendar .days li.in-unused-row {
  display: none;
}

.legenda-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon-list-items {
  margin-bottom: 20px;
}

#detailPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 15px;
  max-width: 600px;
  max-height: 600px;
  margin: 20px;
  word-break: break-all;
}

@media only screen and (max-width: 800px) {
  #detailPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
    border-radius: 15px;
    width: 80%;
    margin: 20px;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    word-break: break-word;
  }
}

#detailPopup p {
  margin: 20px;
}

#detailPopup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-btn {
  color: red;
  font-weight:bold;
  font-size: 30px;
  margin-top: 3px;
  margin-right: 5px;
}

.close-btn:hover {
  color: #cc0000;
  font-weight: bold;
}

#popupTitle {
  font-weight: bold;
  font-size: large;
}
